.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 16px;
  padding: 25px 0; /*上下宽度*/

  span { /*标签字间隔*/
    letter-spacing: 1px;
    font-size: $font-size-large;
  }

  i {
    position: absolute;
    font-size: $font-size-icon;
  }
  i:first-child {
    top: 0;
    left: 16px;
  }
  i:last-child {
    bottom: 0;
    right: 16px;
  }
}
